<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scholarship.android.movies">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
               <activity
            android:name=".MovieDetails"
            android:parentActivityName=".MainActivity"
            android:label="@string/movie_details"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".MovieReviews"
            android:parentActivityName=".MovieDetails"
            android:label="@string/movie_reviews"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MovieDetails" />
        </activity>

        <provider
            android:name="com.example.scholarship.android.movies.data.MovieContentProvider"
            android:authorities="com.example.scholarship.android.movies"
            android:exported="false"/>

    </application>

</manifest>